
coposProject/obj/x86/Debug/coposProject.pdb
coposProject/obj/x86/Debug/coposProject.exe
coposProject/obj/x86/Debug/coposProject.csproj.GenerateResource.Cache
coposProject/obj/x86/Debug/coposProject.csproj.FileListAbsolute.txt
coposProject/bin/Debug/coposProject.pdb
coposProject/bin/Debug/coposProject.exe
